@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&displa=swap');

*
{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Poppins',sans-serif;
}

body
{
    display : flex;
    justify-content : center;
    align-items : center;
    min-height : 10vh;
    transition : 0.5s;
   
}
a{
    top : 85px;
    border-radius: 5px;
    position : relative;
    display : inline-block;
    padding : 10px 30px;
    text-decoration: none;
    text-transform : uppercase;
    color : rgb(255, 255, 255);
    background : #31a4ec00;

    color : #000000;
    background : rgb(255, 255, 255);

    letter-spacing: 4px;
    font-size : 20px;
    transition : 0.5s;

    border : none;
}

a:hover{
    color : rgb(255, 255, 255);
    background : #31a4ec00;
    border : solid 1px;
}

a:span{
    display : block;
    position : absolute;
    background : #000000;

}

